*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --tuiter-roxo: #837eb6;
  --tuiter-roxo-escuro: #6f6f8c;
}

body{
  color:#0f1419;
  background-color: #f5f8fa;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button{
  font: 400 1rem 'Manrope', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}
